
<h1>Olá <%= @email %></h1><br/>
<p>Este é o seu comprovante de compra!</p>
<p>Referência das compras: <%= @ids.to_s.gsub("[", "").gsub("]", "") %> </p>
<br/>
<p>Obrigado por comprar!</p>
<p>Atenciosamente,<br/> Equipe Compre e Leve!</p>