<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label t('address') %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label t('phone') %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label t('description') %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit t('Save') %>
  </div>
<% end %>
