<h1><%=  "#{t('editing')} #{t('Store')}"  %></h1>

<%= render 'form', store: @store %>

<%= link_to t('Show'), @store, class: "black-text waves-effect waves-light btn blue" %>
<%= link_to t('Back'), stores_path, class: "black-text waves-effect waves-light btn blue" %>
