<p id="notice"><%= notice %></p>

<h1><%= t('Stores') %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('name') %></th>
    <th><%= t('address') %></th>
    <th><%= t('phone') %></th>
    <th><%= t('description') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @stores.each do |store| %>
    <tr>
      <td><%= store.name %></td>
      <td><%= store.address %></td>
      <td><%= store.phone %></td>
      <td><%= store.description %></td>
      <td><%= link_to t('Show'), store %></td>
      <td><%= link_to t('Edit'), edit_store_path(store) %></td>
      <td><%= link_to t('Destroy'), store, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('novo'), new_store_path, class: "waves-effect waves-light btn blue black-text" %>