<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name') %>:</strong>
  <%= @store.name %>
</p>

<p>
  <strong><%= t('address') %>:</strong>
  <%= @store.address %>
</p>

<p>
  <strong><%= t('phone') %>:</strong>
  <%= @store.phone %>
</p>

<p>
  <strong><%= t('description') %>:</strong>
  <%= @store.description %>
</p>

<%= link_to t('Edit'), edit_store_path(@store), class: "black-text waves-effect waves-light btn blue" %>
<%= link_to t('Back'), stores_path, class: "black-text waves-effect waves-light btn blue" %>
