<%= form_with(model: unity, local: true) do |form| %>
  <% if unity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unity.errors.count, "error") %> prohibited this unity from being saved:</h2>

      <ul>
        <% unity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('name') %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit t('Save') %>
  </div>
<% end %>
