<h1><%=  "#{t('editing')} #{t('Unity')}"  %></h1>

<%= render 'form', unity: @unity %>

<%= link_to t('Show'), @unity, class: "black-text waves-effect waves-light btn blue" %>
<%= link_to t('Back'), unities_path, class: "black-text waves-effect waves-light btn blue" %>
