<p id="notice"><%= notice %></p>

<h1><%= t('Unities') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unities.each do |unity| %>
      <tr>
        <td><%= unity.name %></td>
        <td><%= link_to t('Show'), unity %></td>
        <td><%= link_to t('Edit'), edit_unity_path(unity) %></td>
        <td><%= link_to t('Destroy'), unity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('novo'), new_unity_path, class: "waves-effect waves-light btn blue black-text" %>