<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unity.name %>
</p>

<%= link_to t('Edit'), edit_unity_path(@unity), class: "black-text waves-effect waves-light btn blue" %>
<%= link_to t('Back'), unities_path, class: "black-text waves-effect waves-light btn blue" %>
