<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">search</i>Filtro</div>
    <div class="collapsible-body">

      <%= form_for :filter, url: url_for(controller: 'home', action: :index), :html => {:method => 'GET'} do |f| %>

        <div class="col-md-2">
          <div class="form-group" id="start_period">

            <div class="col-md-2">
              <%= f.text_field :data_inicio, class: "datepicker", value: @data_inicio, required: false, placeholder: t('data_inicio') %>
            </div>


            <div class="input-field col s3">
              <%= f.text_field :data_fim, class: "datepicker", value: @data_fim, required: false, placeholder: t('data_fim') %>
            </div>

            <div class="input-field col s3">
              <%= select_tag "filter[category]", options_from_collection_for_select(Category.all, :name, :name, @category), {include_blank: true} %>
              <label><%= t('category') %></label>
            </div>

            <div class="input-field col s3">
              <%= select_tag "filter[unity]", options_from_collection_for_select(Unity.all, :name, :name, @unity), {include_blank: true} %>
              <label><%= t('Unities') %></label>
            </div>

            <div class="input-field col s3">
              <%= select_tag "filter[product_id]", options_from_collection_for_select(Product.all, :id, :name, @product_id), {include_blank: true} %>
              <label><%= t('products') %></label>
            </div>

            <div class="input-field col s3">
              <%= select_tag "filter[store_id]", options_from_collection_for_select(Store.all, :id, :name, @store_id), {include_blank: true} %>
              <label><%= t('Stores') %></label>
            </div>

          </div>
        </div>

        <%= f.submit "Filtrar" %>

      <% end %>


    </div>
  </li>
</ul>
<script>
    //https://materializecss.com/pickers.html
    $(document).ready(function () {

        $('.collapsible').collapsible();

        $('.datepicker').datepicker({
            autoClose: false,
            format: 'yyyy-mm-dd',
            showClearBtn: true,
        });

        $('select').formSelect();

    });
</script>
