<h1>Dashboard</h1>

<%= "Olá #{current_user.email}" %>


<%= render partial: 'filter' %>

<div class="ibox-content" style="display: block;">
  <%= high_chart("chart_qtd_loja_dia", @chart_qtd_loja_dia) %>
</div>

<div class="ibox-content" style="display: block;">
  <%= high_chart("chart_valor_venda_loja_dia", @chart_valor_venda_loja_dia) %>
</div>

<div class="ibox-content" style="display: block;">
  <%= high_chart("chart_entrada_saida_produto", @chart_entrada_saida_produto) %>
</div>

<div class="ibox-content" style="display: block;">
  <%= high_chart("chart_valor_mensal_loja", @chart_valor_mensal_loja) %>
</div>
