<!-- Modal Trigger -->
<a id="modal_trigger" class="waves-effect waves-light btn modal-trigger" style="display: none" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h2>CompreLeve Admin<i class="material-icons medium ">shopping_cart</i></h2>
    <!-- https://materializecss.com/icons.html -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <a class="black-text waves-effect waves-light btn blue"><%= f.submit "Log in", style: "padding-top: 5px !important; box-shadow: 0px 0px !important;" %></a>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});

        document.getElementById("modal_trigger").click();
    });
</script>


