<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">search</i>Filtro</div>
    <div class="collapsible-body">


      <div class="hr-line-dashed" style="margin: 7px 0 5px 0;"></div>
      <%= form_for :filter, url: url_for(controller: 'moviments', action: :index), :html => {:method => 'GET'} do |f| %>

        <div class="col-md-2">
          <div class="form-group" id="start_period">

            <div class="col-md-2">
              <label><%= t('data_inicio') %></label>
              <%= f.text_field :data_inicio, class: "datepicker", value: @data_inicio, required: false %>
            </div>


            <div class="col-md-2">
              <label><%= t('data_fim') %></label>
              <%= f.text_field :data_fim, class: "datepicker", value: @data_fim, required: false %>
            </div>

          </div>
        </div>

        <%= f.submit "Filtrar" %>

      <% end %>
    </div>
  </li>
</ul>
<script>
    //https://materializecss.com/pickers.html
    $(document).ready(function () {
        $('.datepicker').datepicker({
            autoClose: false,
            format: 'yyyy-mm-dd',
            showClearBtn: true,
        });

        $('.collapsible').collapsible();
    });
</script>