<%= form_with(model: moviment, local: true) do |form| %>
  <% if moviment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(moviment.errors.count, "error") %> prohibited this moviment from being saved:</h2>

      <ul>
        <% moviment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('Product') %>
    <select name="moviment[product_id]" id="product_store_id" class="browser-default">
      <option value="" disabled selected><%= t('choose') %></option>
      <% Product.all.each do |product| %>
        <option <%= "#{ "selected" if moviment.product_id == product.id }" %> value="<%= product.id %>"><%= product.name %></option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label t('Store') %>
      <select name="moviment[store_id]" id="product_store_id" class="browser-default">
      <option value="" disabled selected><%= t('choose') %></option>
      <% Store.all.each do |store| %>
        <option <%= "#{ "selected" if moviment.store_id == store.id }" %> value="<%= store.id %>"><%= store.name %></option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label t('quantity') %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label t('price_cost') %>
    <%= form.text_field :price_cost %>
  </div>

  <div class="field">
    <%= form.label t('price_sell') %>
    <%= form.text_field :price_sell %>
  </div>

  <div class="actions">
    <%= form.submit t('Save')%>
  </div>
<% end %>
