<h1><%=  "#{t('editing')} #{t('moviment')}"  %></h1>

<%= render 'form', moviment: @moviment %>

<%= link_to 'Show', @moviment, class: "black-text waves-effect waves-light btn blue" %>
<%= link_to 'Back', moviments_path, class: "black-text waves-effect waves-light btn blue" %>
