<p id="notice"><%= notice %></p>

<h1>Movimentações</h1>
<%= render partial: 'filter' %>

<table>
  <thead>
    <tr>
      <th><%= t('id') %></th>
      <th><%= t('Product') %></th>
      <th><%= t('Store') %></th>
      <th><%= t('quantity') %></th>
      <th><%= t('price_sell') %></th>
      <th><%= t('price_cost') %></th>
      <th><%= t('origin') %></th>
      <th><%= t('date') %></th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @moviments.each do |moviment| %>
      <tr>
        <td><%= moviment.id %></td>
        <td><%= moviment.product&.name %></td>
        <td><%= moviment.store&.name %></td>
        <td><%= moviment.quantity %></td>
        <td><%= moviment.price_sell %></td>
        <td><%= moviment.price_cost %></td>
        <td><%= moviment.origin.include?('api') ? 'APP/Saída' : 'Entrada' %></td>
        <td><%= moviment.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= link_to t('Show'), moviment %></td>
        <td><%= link_to t('Edit'), edit_moviment_path(moviment) unless moviment.origin.include?('api')%></td>
        <td><%= link_to t('Destroy'), moviment, method: :delete, data: { confirm: 'Are you sure?' } unless moviment.origin.include?('api') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('novo'), new_moviment_path, class: "waves-effect waves-light btn blue black-text" %>

<%= link_to 'Excel', "/moviments.xlsx?data_inicial=#{@data_inicio}&data_fim=#{@data_fim}", class: 'btn tooltipped btn-info black-text', 'data-position': 'top', 'data-tooltip': t('filtro_export_text')  %>


<%= form_for :file, url: url_for(controller: 'moviments', action: :importar), :html => {:method => 'POST'} do |f| %>

  <div class="col-md-2">
    <div class="form-group" id="start_period">

      <div class="field">
        <%= f.label t('arquivo') %>
        <%= f.file_field :arquivo %>
      </div>

    </div>
  </div>

  <%= f.submit t("importar") %>

<% end %>

<script>
    $(document).ready(function(){
        $('.tooltipped').tooltip({
            enterDelay: 500
        });
    });
</script>