<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("Product") %>:</strong>
  <%= @moviment.product.name %>
</p>

<p>
  <strong><%= t("Store") %>:</strong>
  <%= @moviment.store.name %>
</p>

<p>
  <strong><%= t("quantity") %>:</strong>
  <%= @moviment.quantity %>
</p>

<p>
  <strong><%= t("price_sell") %>:</strong>
  <%= @moviment.price_sell %>
</p>

<p>
  <strong><%= t("price_cost") %>:</strong>
  <%= @moviment.price_cost %>
</p>

<%= link_to t('Edit'), edit_moviment_path(@moviment), class: "black-text waves-effect waves-light btn blue" %>
<%= link_to t('Back'), moviments_path, class: "black-text waves-effect waves-light btn blue" %>
