<h1><%=  "#{t('editing')} #{t('category')}"  %></h1>

<%= render 'form', category: @category %>

<%= link_to t('Show'), @category, class: "black-text waves-effect waves-light btn blue" %>
<%= link_to t('Back'), categories_path, class: "black-text waves-effect waves-light btn blue" %>
