<p id="notice"><%= notice %></p>

<h1><%= t('Categories') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to t('Show'), category %></td>
        <td><%= link_to t('Edit'), edit_category_path(category) %></td>
        <td><%= link_to t('Destroy'), category, method: :delete, data: { confirm: t('Are you sure?') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('nova')} #{t('Category')}", new_category_path, :class => "waves-effect waves-light btn blue black-text" %>
