<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name') %>:</strong>
  <%= @category.name %>
</p>

<%= link_to t('Edit'), edit_category_path(@category), class: "black-text waves-effect waves-light btn blue" %>
<%= link_to t('Back'), categories_path, class: "black-text waves-effect waves-light btn blue" %>
