<%= form_with(model: product, local: true) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('image') %>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label t('name') %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label t('description') %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label t('price_cost') %>
    <%= f.text_field :price_cost %>
  </div>

  <div class="field">
    <%= f.label t('price_sell') %>
    <%= f.text_field :price_sell %>
  </div>

  <div class="field">
    <%= f.label t('category') %>
    <select name="product[category]" id="unity" class="browser-default">
      <option value="" disabled selected>Category</option>
      <% Category.all.each do |category| %>
        <option <%= "#{ "selected" if product&.category&.include?(category.name) }" %> value="<%= category.name %>"><%= category.name %> </option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <%= f.label t('Unity') %>
    <select name="product[unity]" id="unity" class="browser-default">
      <option value="" disabled selected>Unity</option>
      <% Unity.all.each do |unity| %>
        <option <%= "#{ "selected" if product&.unity&.include?(unity.name) }" %> value="<%= unity.name %>"><%= unity.name %> </option>
      <% end %>
    </select>
  </div>

  <div class="actions">
    <%= f.submit t("Save") %>
  </div>
<% end %>
