<h1><%=  "#{t('editing')} #{t('Product')}"  %></h1>

<%= render 'form', product: @product %>

<%= link_to t('Show'), @product, class: "black-text waves-effect waves-light btn blue" %>
<%= link_to t('Back'), products_path, class: "black-text waves-effect waves-light btn blue" %>
