<p id="notice"><%= notice %></p>

<h1><%= t('products') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('description') %></th>
      <th><%= t('price_cost') %></th>
      <th><%= t('price_sell') %></th>
      <th><%= t('category') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price_cost %></td>
        <td><%= product.price_sell %></td>
        <td><%= product.category %></td>
        <td><%= link_to t('Show'), product %></td>
        <td><%= link_to t('Edit'), edit_product_path(product) %></td>
        <td><%= link_to t('Destroy'), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('novo'), new_product_path, class: "waves-effect waves-light btn blue black-text" %>
