<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@product.avatar_url) if @product.avatar? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @product.unity %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Price Sell:</strong>
  <%= @product.price_sell %>
</p>

<p>
  <strong>Price Cost:</strong>
  <%= @product.price_cost %>
</p>

<%= link_to t('Edit'), edit_product_path(@product), class: "black-text waves-effect waves-light btn blue" %>
<%= link_to t('Back'), products_path, class: "black-text waves-effect waves-light btn blue" %>
