<nav>
  <!-- Dropdown Structure -->
  <ul id="dropdown" class="dropdown-content">
    <li><a class="black-text" href="/stores">Lojas</a></li>
    <li><a class="black-text" href="/products">Produtos</a></li>
    <li><a class="black-text" href="/unities">Unidade</a></li>
    <li><a class="black-text" href="/categories">Categorias</a></li>
<!--    <li class="divider"></li>-->
  </ul>
  <nav>

    <% cor_botao = " indigo darken-2"
       cor_nav = "orange"
       cor_texto_botao = "white-text"
    %>

    <div class="nav-wrapper  <%= cor_nav %> ">
      <ul class="right">
        <!-- Dropdown Trigger -->
        <li><a class="btn-small <%= cor_botao %> <%= cor_texto_botao %> dropdown-trigger" href="#!" data-target="dropdown">Cadastros<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="btn-small <%= cor_botao %> <%= cor_texto_botao %>" href="/home/index">Dashboard</a></li>
        <li><a class="btn-small <%= cor_botao %> <%= cor_texto_botao %>" href="/moviments">Movimentações</a></li>
        <li><a class="btn-small darken-2 white black-text" rel="nofollow" data-method="delete" href="/users/sign_out">Sair</a></li>

      </ul>
    </div>
  </nav>
</nav>

<script>
    $(".dropdown-trigger").dropdown();
</script>

<style>
  .dropdown{
    color: black;
  }
  li{
    color: black;
    font-weight: bold;
    margin-top: 15px;
  }
</style>